<%= form_with(model: blog, local: true, url: choose_new_or_edit) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :メイン画像 %>
    <%= image_tag(@blog.image.url) if @blog.image && @blog.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>

  <div class="field">
    <%= form.label :タイトル %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :内容 %>
    <%= form.text_area :content %>
  </div>
  <% if @blog.blog_images.any? %>
    <% @blog.blog_images.each do |blog_image| %>
      <%= image_tag(blog_image.image.url) if blog_image.image && blog_image.image.url %>
    <% end %>
  <% end %>

  <%= form.fields_for :blog_images do |blog_image| %>
    <div class="field">
      <%= blog_image.label :画像たち%>
      <%= blog_image.file_field :image %>
      <%= blog_image.hidden_field :image_cache %>
    </div>

    <% unless blog_image.object.new_record? %>
      <div>
        <p>画像を削除<%= blog_image.check_box :_destroy, data: { confirm: '削除してよろしいですか' }%></p>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>