<h1>みんなのごみ拾い記録一覧</h1>

<%= link_to '新しく記録を投稿する', new_blog_path %>
<br>
<br>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th>画像たち</th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        <td><%= link_to '詳細', blog_path(blog.id) %></td>

        <!-- td><%= link_to '編集', edit_blog_path(blog) %></td>
        <td><%= link_to '削除', blog, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></td -->
        
      </tr>
    <% end %>
  </tbody>
</table>
