<h2><%= @user.name %>さんのページ </h2>
<h3><%= @user.email %></h3>

<div class=user_show_links>
<%= link_to "アカウント情報の編集", edit_user_registration_path %>
</div>

<div class=user_show_links>
<%= link_to "#{@user.name}さんのごみ拾い記録", users_path %>
</div>
<div class=user_show_links>
<%= link_to "みんなのごみ拾い記録", blogs_path %>
</div>

<div class=user_show_links>
<%= link_to "参加予定イベント一覧", "#" %>
</div>
<div class=user_show_links>
<%= link_to "ごみ回収place一覧", "#" %>
</div>
<div class=user_show_links>
<%= link_to "友達一覧", "#" %>
</div>
<div class=user_show_links>
<%= link_to "イベント一覧", "#" %>
</div>