<h2>ごみ回収場所一覧</h2>

<div class="row">
  <div class="col-sm-3 col-md-3 search_forms">
    <%= search_form_for @q, url: search_places_path do |f| %>
      <p><i class="fas fa-search"></i><%= f.label :address_cont, '住所' %></p>
      <p><%= f.search_field :address_cont, size: "25x5" %></p>
      <br>
      <p><i class="fas fa-search"></i><%= f.label :name_cont, '場所の名称・店名' %></p>
      <p><%= f.search_field :name_cont, size: "25x5" %></p>
      <br>
      <%= f.submit '検索', class: "btn btn-outline-info btn-block" %>
    <% end %>
  </div>
  <div class="col-sm-9 col-md-9 place_index_card">
    <% @places.each do |place| %>
      <div class="card mb-3" style="max-width: 800px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <% if place.image.url.present? %>
              <%= image_tag place.image.url %>
            <% else %>
              <i class="fas fa-camera fa-5x"></i>
              <p>NO IMAGE<p>
            <% end %>
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title"><i class="fas fa-home"></i><%= place.name %></h5>
              <p class="card-text"><i class="fas fa-map-marker-alt"></i><%= place.address %></p>
              <p class="card-text"><%= place.description %></p>
            </div>
          </div>
          <div class="col-md-2 place_index_show_btn">
            <p class="card-link"><%= link_to '詳細', place_path(place.id), class: "btn btn-success" %></P>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

