<h1>ごみ回収場所一覧</h1>

<h1>検索</h1>

<%= search_form_for @q, url: search_places_path do |f| %>
  <%= f.label :address_cont, '住所' %>
  <%= f.search_field :address_cont %>
  <br>
  <%= f.label :name_cont, '場所の名称・店名' %>
  <%= f.search_field :name_cont %>
  <br>
  <%= f.submit '検索' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>画像</th>
      <th>名称</th>
      <th>住所</th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= image_tag place.image.url if place.image.url.present? %></td>
        <td><%= place.name %></td>
        <td><%= place.address %></td>
        <td><%= link_to '詳細', place_path(place.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>