<h1>検索結果</h1>
<table>
  <thead>
    <tr>
      <th>画像</th>
      <th>名称</th>
      <th>住所</th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |place| %>
      <tr>
        <td><%= image_tag place.image.url if place.image.url.present? %></td>
        <td><%= place.name %></td>
        <td><%= place.address %></td>
        <td><%= link_to '詳細', place_path(place.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "戻る", places_path %>