<div class="row">
  <div class="col-md-7">
    <h2 class="place_info"><%= @place.name %></h2>
    <% if @place.image.url.present? %>
      <%= (image_tag @place.image.url, class: "index_place_image") %>
    <% else %>
      <i class="fas fa-camera fa-5x"></i>
      <p>NO IMAGE<p>
    <% end %>
    <p><%= @place.description %></p>
    <% if current_place == @place %>
      <h4 class="place_info"><%= @place.email %></h4>
      <div class="place_info">
        <%= link_to "アカウント情報の編集", edit_place_registration_path(@place.id), class: "btn btn-info" %>
      </div>
    <% end %>

    <% if current_place == @place %>
      <h5 class="rules_info">ごみ持ち込みルールは編集画面より記載をお願いします</h5>
    <% end %>
    <div class="place_rules">
      <% if @rule.start_at.present? && @rule.start_at.strftime('%H:%M') != '00:00' %>
        <p>受付開始時間：<%= @rule.start_at.strftime('%H:%M') %></p>
      <% else %>
        <p>受付開始時間：特に指定なし</p>
      <% end %>

      <% if @rule.end_at.present? && @rule.end_at.strftime('%H:%M') != '00:00' %>
        <p>受付終了時間：<%= @rule.end_at.strftime('%H:%M') %></p>
      <% else %>
        <p>受付終了時間：特に指定なし</p>
      <% end %>

      <% if @rule.separation.present? %>
        <p>分別方法：<%= @rule.separation %></p>
      <% else %>
        <p>分別方法：特に指定なし</p>
      <% end %>

      <% if @rule.amount.present? %>
          <p>ごみの量：<%= @rule.amount %></p>
      <% else %>
        <p>ごみの量：特に指定なし</p>
      <% end %>

      <% unless @rule.comment.blank? %>
        <p>注意事項：<%= @rule.comment %></p>
      <% else %>
        <p>注意事項：特に指定なし</p>
      <% end %>
    </div>
  </div>

  <div class="col-md-5 place_show_links">
    <div class="place_links">
      <%= link_to "ごみ回収place一覧", places_path, class: "place_link" %>
    </div>
    <div class="place_links">
      <%= link_to "みんなのごみ拾い記録", blogs_path, class: "place_link" %>
    </div>
    <div class="place_links">
      <%= link_to "イベント一覧", "#", class: "place_link" %>
    </div>

    <% if current_place == @place %>
      <div class="place_links">
        <%= link_to "#{@place.name}さん参加予定イベント一覧", "#", class: "place_link" %>
      </div>
      <div class="place_links">
        <%= link_to "#{@place.name}さん友達一覧", "#", class: "place_link" %>
      </div>
    <% end %>
  </div>
</div>