<div class="container">
  <%= render "users/shared/error_messages", resource: resource %>
  <div class="registrations_new">
    <h5 class="app_instractions">NO MORE GARBO はごみ拾いを気軽に始められるアプリです</h5>
    <h5 class="app_instractions">ごみ拾いする人とごみを回収してくれる場所・お店をつなぎます</h5>
    <div class="form">
      <strong>ごみ拾いユーザー</strong>
      <h1>Sign up</h1>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class="field">
          <%= f.label t("name") %><br />
          <%= f.text_field :name %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> <%= t("characters_minimum") %> )</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "登録", class: "btn btn-warning" %>
        </div>
      <% end %>
      <p>既にご登録済の方は</p>
      <div class="registrations">
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-warning" %>
      </div>
      <div class="registrations">
        <%= link_to "場所・お店アカウント登録の方はこちら", new_place_registration_path, class: "btn btn-light" %>
      </div>
      <div class="registrations">
        <%= link_to "場所・お店ログインの方はこちら", new_place_session_path, class: "btn btn-light" %>
      </div>
      <div class="photo_by_user_regi">
        <p>Photo by Muhammad Yasir on Unsplash</p>
      </div>
    </div>
  </div>
</div>


